body {
    background-color: #f7e4d7;
    font-family: "Nunito", sans-serif;
    padding: 50px 100px;
}

#mainNavbar { /*is transparent by default unless you do bg-light or bg-dark*/
    font-size: 1.5rem;
    font-weight: 200;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
    font-weight: 600;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

.navbar.scrolled {
    background-color: #987654;
    transition: background 500ms;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    margin-bottom: 500px;
}
.brownTitle {
    font-size: 50px;
}
.heroImage {
    width: 40%;
}
.mailingListLink {
    font-size: 22px;
    color: #636363;
}
.mailingListLink:hover {
    color: #9e9e9e;
}